@import "tailwindcss";

body {
  @apply bg-[#F2F3EE] text-gray-900;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

@theme {
  /* primary */
  --color-primary: #f2f3ee;
  --color-primary-dull: #4d4b46;
  --color-secondary: #e4ed64;
  --color-tertiary: #e4ed64;
  --color-ascent: #e4ed64;
}
