@import "tailwindcss";

html,
body {
  /* @apply bg-[#F2F3EE] text-black; */
  @apply bg-[#FFFFFF] text-black;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

@theme {
  /* primary */
  --color-primary: #f2f3ee;
  --color-primary-dull: #4d4b46;
  --color-secondary: #e4ed64;
  --color-tertiary: #e4ed64;
  --color-ascent: #e4ed64;
}

@layer components {
  .max-container {
    @apply mx-auto px-4 sm:px-6 md:px-8 lg:px-12 xl:px-16 2xl:px-24;
    @apply max-w-full sm:max-w-[640px] md:max-w-[768px] lg:max-w-[1024px] xl:max-w-[1280px] 2xl:max-w-[1440px];
  }
}

/******** hide-scrollbar **********/
/* Hide scrollbar */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hero-font {
  font-family: Helvetica, Arial, sans-serif;
}

@keyframes slide {
  0%,
  50% {
    transform: translateX(0%);
  }
  50%,
  100% {
    transform: translateX(100%);
  }
}

.animate-slide {
  animation: slide 3s infinite ease-in-out;
}
